<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Node and Express Site</title>

	<!-- CSS -->
	<!-- load our css file and a bootstrap theme called sandstone -->
	<!-- referencing local files will look in the /public folder -->
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootswatch/3.2.0/sandstone/bootstrap.min.css">
	<link rel="stylesheet" href="css/style.css">
</head>
<body class="container">

	<header>
		<nav class="navbar navbar-default" role="navigation">

			<div class="navbar-header">
				<a class="navbar-brand" href="#"><span class="glyphicon glyphicon-fire"></span> Awesome!</a>
			</div>

			<ul class="nav navbar-nav">
				<li><a href="/">Home</a></li>
				<li><a href="/about">About</a></li>
				<li><a href="/contact">Contact</a></li>
			</ul>

		</nav>
	</header>

