<meta charset="UTF-8">
<title>Node and Express Site</title>

<!-- CSS -->
<!-- load our css file and a bootstrap theme called sandstone -->
<!-- referencing local files will look in the /public folder -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootswatch/3.2.0/sandstone/bootstrap.min.css">
<link rel="stylesheet" href="css/style.css">