<div class="panel panel-primary">

	<div class="panel-heading">
		<h3 class="panel-title">Popular Stuff</h3>
	</div>

	<div class="panel-body">
		<div class="list-group">
			<a href="#" class="list-group-item">The Sun is Gigantic</a>
			<a href="#" class="list-group-item">Top 10 Fails</a>
			<a href="#" class="list-group-item">Coffee is Important</a>
			<a href="#" class="list-group-item">Programming in Node is Too Fun</a>
		</div>
	</div>

</div>