<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partials/head %>
</head>
<body class="container">

	<header>
		<% include ../partials/header %>
	</header>

	<main>

		<div class="row">
			<div class="col-sm-8">
				<div class="jumbotron text-center">
					<h1>About Page</h1>
					<p>This is my first Node and Express home page!</p>

					<img src="img/city.jpg">
				</div>
			</div>
			<div class="col-sm-4">
				<div class="well">
					<h3>Sidebar!</h3>
				</div>
			</div>
		</div>
	</main>

	<footer>
		<% include ../partials/footer %>
	</footer>

</body>
</html>