<% include ../partials/header %>

	<main>
		<div class="jumbotron text-center">
			<h1>Home Page</h1>
			<p>This is my first Node and Express home page!</p>

			<h2>Who are You?</h2>

			<p><%= name %></p>

			<img src="img/city.jpg" alt="This is the city!">
		</div>
	</main>

<% include ../partials/footer %>